.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.gallery-item-container{
  display: inline-block;
  margin-bottom: .5em;
}

.gallery-item{
 min-width: 250px;
 display: inline-block;
 position: relative;
 background-color: white;
}

.gallery-image{
  width: 300px;
  height: auto;
  margin-right: .5em;
  margin-left: .5em;
  margin-bottom: .2em;
}
.gallery-image-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.faded-image{
  opacity: 25%;
}