/* --------- APP STYLING --------- */

.App {
  text-align: center;
  Font-Family: 'Merriweather', Serif;

}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* --------- INPUT FIELD STYLING --------- */


.input-field button{
  margin-top: 1em;
}
.input-field-url-input{
  width: 50em;
  min-width: 50%;
  max-width: 95%;
}
.input-field-description-input{
  width: 20em;
  min-width: 50%;
  max-width: 95%;
}

/* --------- GALLERY STYLING --------- */

.gallery h1{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: 1em;
}

.gallery-item-container{
  display: inline-block;
  margin-bottom: 1.5em;
}

.gallery-item{
 min-width: 250px;
 display: inline-block;
 position: relative;
 background-color: white;
 word-wrap: break-word;
}

.gallery-image{
  width: 300px;
  height: auto;
  margin-right: .5em;
  margin-left: .5em;
  margin-bottom: .2em;
}
.gallery-image-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.faded-image{
  opacity: 15%;
}